* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family:sans-serif;
}

body {
  background-color: #3f3f3f;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.container > .delete-all {
  cursor: pointer;
  background: transparent;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  position: absolute;
  top: .75rem;
}
